@font-face {
     /* Expanded-Regular */
    font-family: 'GT-America-Exp-Thin-Trial';
    src: url('../fonts/GT-America-Extended-Regular-Trial.otf') format('woff2');
}

@font-face {
    /* Condensed-Medium */
    font-family: 'GT-America-Trial-Cn-Md';
    src: url('../fonts/GT-America-Condensed-Thin-Trial.otf') format('woff2');
}

@font-face {
    font-family: 'GT-America-Extended-Light-Trial';
    src: url('../fonts/GT-America-Extended-Ultra-Light-Trial.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('/Users/Yash/Desktop/Work/Fonts/Manrope/');
    font-weight: normal;
    font-style: normal;
}



body, html {
    margin: 0;
    padding: 0;
    background-color: #9AADAF;
    overflow-x: hidden; /* Disables horizontal scrolling*/
    overflow-y: auto; /* Enables vertical scrolling as needed */
}

#headline {
    position: relative;
    margin-top: 100px; /* Adjust as necessary to place the text at the top */
    left: 50%;
    transform: translate(-50%, -10%);
    font-family: 'GT-America-Exp-Thin-Trial', sans-serif;
    font-weight: lighter;
    text-align: center;
    color: #ECF6F6;
    font-size: 40px;
}

.popup {
    position: fixed;
    width: 500px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1000; /* Ensure it's on top */
    overflow: auto; /* Add scroll if content overflows */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#close-button {
    padding: 10px 20px;
    background-color: #f00; /* Red background for visibility */
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.year-buttons {
    text-align: center;
    margin-top: 20px;  
    display: flex;
    justify-content: center;  
    gap: 20px;  
}

.year-button {
    background: none;
    border: none;
    font-family: 'GT-America-Exp-Thin-Trial', sans-serif;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
}

.year-button:hover {
    text-decoration: underline;
}