@font-face {
    /* Expanded-Regular */
   font-family: 'GT-America-Exp-Thin-Trial';
   src: url('../fonts/GT-America-Extended-Regular-Trial.otf') format('woff2');
}

@font-face {
   /* Expanded-Medium */
   font-family: 'GT-America-Exp-Medium-Trial';
   src: url('../fonts/GT-America-Extended-Medium-Trial.otf') format('woff2');
}

@font-face {
   /* Condensed-Medium */
   font-family: 'GT-America-Trial-Cn-Md';
   src: url('../fonts/GT-America-Condensed-Thin-Trial.otf') format('woff2');
}

@font-face {
   font-family: 'GT-America-Extended-Light-Trial';
   src: url('../fonts/GT-America-Extended-Ultra-Light-Trial.otf') format('woff2');
   font-weight: normal;
   font-style: normal;
}

/* For suggested questions */
@font-face {
   font-family: 'GT-America-Extended-Thin-Trial';
   src: url('../fonts/GT-America-Extended-Thin-Trial.otf') format('woff2');
   font-weight: normal;
   font-style: normal;
}


@font-face {
   font-family: 'Lora';
   src: url('../fonts/Lora-Regular.ttf');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Manrope';
   src: url('/Users/Yash/Desktop/Work/Fonts/Manrope/');
   font-weight: normal;
   font-style: normal;
}

html,body{
   height: 100%;
   margin: 0;
   overflow-y: auto;
}

body{
   margin-top: 50px;
   overflow-y: visible;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.huge-headline {
   font-family: 'GT-America-Exp-Thin-Trial', sans-serif;
   font-weight: lighter;
   color: #ECF6F6;
   font-size: 100px;
   letter-spacing: -5px;
}

.Xlarge-headline {
   font-family: 'GT America Trial Ext Rg';
   font-size: 50px;
   line-height: 1;
   color: #ffffff;
}

.Xlarge-headline-alt {
   font-family: 'Lora';
   font-weight: normal;
   font-size: 50px;
   color: #ECF6F6;
}

.large-headline {
   font-family: 'GT-America-Expanded-Regular-Trial';
   font-size: 36px;
   line-height: 1;
}

.large-headline-alt {
   font-family: 'Lora';
   font-weight: normal;
   font-size: 36px;
   line-height: 1;
}

.medium-headline {
   font-family: 'GT-America-Extended-Light-Trial', sans-serif;
   font-weight: lighter;
   color: #ffffff;
   font-size: 20px;
}

.medium-headline-regular {
   font-family: 'GT-America-Extended-Thin-Trial', sans-serif;
   color: #ffffff;
   font-size: 20px;
}

.medium-headline-alt {
   font-family: 'Lora';
   font-weight: normal;
   color:#ffffff;
   font-size: 26px;
   line-height: 1;
}

.small-headline {
   font-family: 'GT-America-Expanded-Regular-Trial';
   font-size: 22px;
   line-height: 1;
}

.small-headline-alt {
   font-family: 'Lora';
   font-weight: normal;
   font-size: 22px;
   color: #ffffff;
   line-height: 1.5;
}

.eyebrow {
   font-family: 'GT-America-Condensed-Medium-Trial';
   font-size: 16px;
   line-height: 1;
}

.large-body {
   font-family: 'GT-America-Exp-Thin-Trial';
   font-size: 20px;
   line-height: 1.5;
   color: #ffffff;
}

.large-body-bold {
   font-family: 'GT-America-Expanded-Medium-Trial';
   font-size: 20px;
   line-height: 1.5;
}

.default-body {
   color: #ECF6F6;
   font-family: 'GT-America-Exp-Thin-Trial';
   font-size: 16px;
   letter-spacing: -0.5px;
   line-height: 1.5;
}

.default-body-bold {
   font-family: 'GT-America-Exp-Medium-Trial';
   font-size: 16px;
   line-height: 1.5;
}

.Body-alt {
   font-family: 'GT-America-Standard-Regular-Trial';
   font-size: 16px;
   line-height: 1.5;
}

.Body-alt-bold {
   font-family: 'GT-America-Standard-Bold-Trial';
   font-size: 16px;
   line-height: 1.5;
}

.Calltoaction-primary {
   font-family: 'Manrope';
   font-weight: bold;
   font-size: 12px;
   line-height: 1.5;
   letter-spacing: 1.5px;
}

.Calltoaction-micro {
   font-family: 'Manrope';
   font-weight: bold;
   font-size: 10px;
   line-height: 1.5;
   letter-spacing: 1.5px;
}

.extra-large-figure {
   font-family: 'Lora';
   font-weight: normal;
   font-size: 40px;
   line-height: 1;
}

.margin-top-sm{
   margin-top: 10px;
}

.margin-bottom-sm{
   margin-bottom: 10px;
}

.margin-bottom-neg-sm{
   margin-bottom: -20px;
}

.margin-bottom-neg-md{
   margin-bottom: -35px;
}

.margin-bottom-neg-lg{
   margin-bottom: -50px;
}

#parent-container {
   position: relative;
   width: 60%;
   min-height: 300px; 
   padding-bottom: var(--random-thought-height, 10em);
}

#random-thought {
   position: absolute;
   text-align: center;
   top: 0;
   left: 0;
   right: 0;
}

#hoverText {
   position: absolute;
   text-align: center;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   white-space: nowrap;
}

/*
#hoverText::before,
#hoverText::after {
   content: '';
   position: absolute;
   top: 50%;
   height: 2px; 
   background-color: white; 
}

#hoverText::before {
   left: -50%; 
   right:50%;
   transform: translateX(-50%) translateY(-50%); 
}

#hoverText::after {
   left: 50%;
   right: 0; 
   transform: translateX(-50%) translateY(-50%);
}
*/

#weekly-thoughts-container{
   position: relative;
   text-align:left;
   top:0px;
   width: 100%;
   height:auto;
}

.date-text{
   font-family: 'Lora';
   color: #ffffff;
   font-size:16px;
   filter: blur(0.3px);
}

.weekly-thought{
   display:block;
   margin-top: 10px;
   max-width:400px;
   font-size:16px;
   margin-bottom: 100px;
}

.weekly-thought .highlight {
   filter: none;
}

.weekly-thought .word:not(.highlight) {
   filter: blur(5px);
   opacity: 0.3;
}


