<!DOCTYPE html>
<html lang="en" dir="ltr" style="background-color: #F1F5F5;">

<head>
    <meta charset="utf-8">
    <title>thoughtQuestion</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
</head>
<body>
    <!-- Sidebar with categories -->
    <div id="sidebar" class="collapsed">
        <!-- Discover yourself Sidebar -->
        <div id="discover-bar" class="category default" style="background-color: #88A5A5;">
            <img src="{{ url_for('static', filename='icons/mdi_hamburger-menu.png') }}" alt="weekly thoughts icon" class="menu-icon">
            <span class ="medium-headline-regular">Ask yourself a question</span>
        </div>
        <a href="/" class="pageLink">
            <div class= "category medium-headline-regular" data-category="homePage"> Home </div>
        </a>

        <a href="/categories" class="pageLink">
            <div class= "category medium-headline-regular" data-category="thought-categories"> Thought Categories </div>
        </a>

        <a href="/calendar" class="pageLink">
            <div class= "category medium-headline-regular" data-category="thought-calendar"> Thought Calendar </div>
        </a>
        
        <a href="/thoughtQuestion" class="pageLink">
            <!-- <div class= "category medium-headline-regular" data-category="placeholder"> th </div> -->
            <div class= "category medium-headline-regular" data-category="thought-question"> Ask yourself a question </div>
        </a>
    </div>

    <div class="questionContainer">
        <form action="/ask" method="post">
            <div>
                <label for="user_query" class="Xlarge-headline-alt" style="color:#6E8889;">Ask your past self a question</label>
            </div>
            <div class = "inputContainer">
                <input type="text" id="user_query" name="user_query" class="medium-headline-regular" placeholder="How has my relationship with Max changed over time?">
                <input type="submit" value="GO" class="large-headline reflect-btn">
            </div>
        </form>
        <ul class="question-list medium-headline-regular" style="color:#6E8889;">
            <ul>Self-reflection questions based on recent thought entries (not implemented yet)</ul>
            <div class = 'li-container'>
                <li class="promptQuestion" style="background-color: #E4ECEC; border-top-left-radius: 10px; border-top-right-radius: 10px;">How does being one of the few girls in social groups affect my self-image?</li>
                <li class="promptQuestion" style="background-color: #DFE7E7;">What have I learned from recent conflicts with JT?</li>
                <li class="promptQuestion" style="background-color: #DBE2E2;">What do I hope to gain by limiting my phone usage?</li>
                <li class="promptQuestion" style="background-color: #D6DDDD; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">Why do I prefer familiar challenges over new experiences?</li>
            </div>
        </ul>
    </div>

    <div class ='answerContainer small-headline-alt' style="color:#6E8889;">{{ answer }}</div>

    <div id="hoverTextQuestion" class="large-body" style="color:#6E8889;">Your thoughts I considered when answering the question</div>


    <!-- Section for displaying the relevant thoughts -->
    <div id="relevant_thoughts-container">
        <ul class="thoughts-grid">
            {% for thought in relevant_thoughts %}
            <li class = 'relevant-thought default-body' style="color:#6E8889;">{{ thought }}</li>
            {% endfor %}
        </ul>
    </div>

    <script src="{{ url_for('static', filename='js/landingPage.js') }}" type="module"></script>
</body>
</html>